<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>
        {% if 'reddit_token' in session %}
          Welcome back, {{ session['user_id'] }}!  (Your Reddit is connected)
        {% else %}
          Welcome to your social media dashboard!
        {% endif %}
    </h1>      
    <p>Welcome to your social media dashboard!</p>
    <div>
        
        {% if 'reddit_token' not in session %}
        <a href="/connect/reddit">Connect with Reddit</a><br>
        {% endif %}
    </div>
    <!-- Display Reddit Feeds -->
    {% if 'reddit_data' in session %}
    <h2>Reddit Feeds</h2>
    <ul>
        {% for feed in reddit_data %}
            <li>{{ feed }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
